i18n_l10n_MVC_NETCore/.vs
i18n_l10n_MVC_NETCore/i18n_l10n_MVC_NETCore/bin
i18n_l10n_MVC_NETCore/i18n_l10n_MVC_NETCore/obj
i18n_l10n_MVC_NETCore/i18n_l10n_MVC_NETCore/i18n_l10n_MVC_NETCore.csproj.user
